@model DevBridge.Templates.WebProject.Web.Logic.Models.Article.ArticleViewModel

<h2>Article</h2>
@*<li data-id="@Model">
    Number:@Model.Number; Name:@Model.CustomerCode; Customer:@Model.CustomerName
</li>*@
