@model DevBridge.Templates.WebProject.Web.Logic.Models.Article.ArticleListViewModel

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Articles</h2>
<ul>
@foreach (var article in Model.Articles) {
    Html.RenderPartial(MVC.Article.Views.Partial.Article, article);
}
</ul>
